.groupList {
}

.groupList__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groupList__btn {
  margin-bottom: 30px;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.groupList__btn:hover {
  background-color: rgb(218, 218, 218);
}

.groupList__list-grid {
  display: flex;
  margin-left: -30px;
  width: auto;
}
.groupList__list-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}
