.groupList {
}

.groupList__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groupList__btn {
  margin-bottom: 30px;
  padding: 0 10px;
  font-size: 16px;
  cursor: pointer;
}

.groupList__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100px;
}

@media (max-width: 1024px) {
  .groupList__list {
    justify-content: space-between;
  }
}

@media (max-width: 700px) {
  .groupList__list {
    justify-content: center;
  }
}
