.header {
  margin-bottom: 30px;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  color: #fff;
}

.header__btn-background {
  padding: 2px 7px;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.header__btn-background:hover {
  background-color: rgb(218, 218, 218);
}

@media (max-width: 500px) {
  .header__title {
    font-size: 20px;
  }
}
