.header {
  margin-bottom: 30px;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  color: #fff;
}

.header__btn-background {
  padding: 0 5px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

@media (max-width: 500px) {
  .header__title {
    font-size: 20px;
  }
}
