.header {
  margin-bottom: 30px;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.header-dark {
  background-color: rgb(66, 66, 66);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  color: #fff;
}
