.groupColarModal {
  position: absolute;
  top: -100px;
  left: 25px;
  width: 150px;
  height: 110px;
  padding: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  border: 1px solid #111;
  border-radius: 10px;
}

.groupColarModal__color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.groupColarModal__color:hover {
  border: 1px solid #111;
}
