.tasksList {
  margin-bottom: 10px;
}

.tasksList__item {
  margin-bottom: 5px;
  padding: 10px;
  display: flex;
  background-color: #fff;
  border-radius: 5px;
}

.tasksList__item:last-child {
  margin-bottom: 0;
}

.tasksList__item-name {
  flex-grow: 1;
}

.tasksList__item-check__btn {
}

.tasksList__item-check__delete {
}
