.tasksList {
  margin-bottom: 10px;
}

.tasksList__item {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.tasksList__item-header {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}

.tasksList__item-header:hover .tasksList__item-header__btnDelete {
  display: block;
}

.tasksList__item-header > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tasksList__item-header__btnDelete {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
  font-size: 20px;
  cursor: pointer;
}

.tasksList__item-main {
  padding: 10px 3px 8px 10px;
  display: flex;
  justify-content: space-between;
}

.tasksList__item-content {
  padding-right: 5px;
  flex-grow: 1;
}

.tasksList__item:last-child {
  margin-bottom: 0;
}

.tasksList__item-name {
}

.tasksList__item-name__completed {
  color: rgb(153, 153, 153);
  text-decoration: line-through;
}

.tasksList__item-actions {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.tasksList__item-actions__icon {
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .tasksList__item-header {
    height: 250px;
  }

  .tasksList__item-header__btnDelete {
    display: block;
  }
}

@media (max-width: 700px) {
  .tasksList__item-header {
    height: 300px;
  }
}
