.tasksList {
  margin-bottom: 10px;
}

.tasksList__item {
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 5px;
}

.tasksList__item-content {
  padding-right: 5px;
  flex-grow: 1;
}

.tasksList__item:last-child {
  margin-bottom: 0;
}

.tasksList__item-name {
}

.tasksList__item-name__completed {
  color: rgb(153, 153, 153);
  text-decoration: line-through;
}

.tasksList__item-actions {
  display: flex;
  justify-content: center;
}

.tasksList__item-btn {
  margin-right: 5px;
  font-size: 17px;
  cursor: pointer;
}

.tasksList__item-btn:last-child {
  margin-right: 0;
}
